<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gerador de certificados</title>


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="stye.css"
</head>
<body>
  <div class="container">
    <h1 class="mt-5">O upload do seu arquivo .csv foi um sucesso e seus certificados estão prontos!</h1>
    <h3 class="mt-4">Faça o download dos seus certificados</h3>
    <a href="/retrieve-file" class="btn btn-primary mt-3">Baixar certificados</a>
    <a href="../main/main.html" class="btn btn-secondary mt-3">Gerar mais certificados</a>
  </div>

  <!-- Inclua os arquivos JavaScript do Bootstrap -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
