<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Belanosima:wght@600&family=Inter:wght@100;200;400&display=swap"
    rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='./main-style.css') }}">
  <title>Gerador de certificados</title>
</head>

<body>

  <div class="modal " id="modalElement" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title"> Como usar </h2>
        </div>
        <div class="modal-body">
          <h5>Digite o texto do certificado na primeira linha do CSV</h5>
          <p>Exemplo: var participou em var de var em var</p>
          <p>O seu csv deve conter a informação que deve ser substituída em cada 'var'.</p>
          <p>Exemplo: data.csv <br>
            var participou em var de var em var<br>
            Bob Sponja,15/06/23,Aula de fazer hamburguer,Siri Cascudo School<br>
            Patrick Estrela,14/06/23,Aula de fazer estrela,Desempregados.com<br>
            Burro,13/06/2023 a 15/06/2023,Técnicas de fala para burros,Tão Tão Distante School
            </p>
          <p>Cada linha do csv será lida e cada campo vai substituir 'var' pela informação.</p>
          <p>Exemplo de resultado final:</p>
          <p>Bob Sponja participou em 15/06/23 de Aula de fazer hamburguer em Siri Cascudo School</p>
        </div>
        <div class="modal-footer">
          <button type="submit" onclick="closeModal()" class="btn-primary">Entendido ! </button>       
        </div>
      </div>
    </div>
  </div>


  <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <form id="upload-form" method="post" enctype="multipart/form-data" action="{{ url_for('uploadfile') }}">
      <div class="mb-3">
        <label for="csv_upload"  class="form-label">Escolha arquivo .csv</label>
        <input  class="form-control" 
          type="file"
          name="csv_file"
          id="csv_upload"
          accept=".csv"
          multiple />
      </div>
      <div>
        <button type="button" class="btn btn-secondary" onclick="openModal()">Como usar</button>
        <button type="submit" class="btn btn-primary btn">Enviar</button>

      </div>
    </form>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>

