<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gerador de certificados</title>
  </head>
  <body>
    <h1>O upload do seu arquivo .csv foi um sucesso e seus certificados estão prontos!</h1>
    <h3>Faça o download dos seus certificados</h3>
    <a href="/retrieve-file"><button class='btn btn-default'>Baixar certificados</button></a>
  </body>
</html>